CompileFlags:
  CompilationDatabase: c:\Users\marco\ITS-BRD-VSC\Programs\Drehgebers\out\Drehgebers\ITSboard\Debug
  Add:
    - -include
    - c:\Users\marco\ITS-BRD-VSC\Programs\Drehgebers\out\Drehgebers\ITSboard\Debug\compile_macros.h
