CompileFlags:
  CompilationDatabase: >-
    c:\Users\Dylan\Marco\ITS-BRD-VSC\Programs\Drehgebers\out\Drehgebers\ITSboard\Debug
  Add:
    - '-IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/Inc'
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../stm32cubef4/Utilities/Fonts
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../DisplayWaveshare/Inc
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/tmp/Drehgebers.Debug+ITSboard
    - '-IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/RTE/_Debug_ITSboard'
    - >-
      -IC:/Users/Dylan/AppData/Local/Arm/Packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include
    - >-
      -IC:/Users/Dylan/AppData/Local/Arm/Packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/Dylan/Marco/ITS-BRD-VSC/Programs/Drehgebers/../../ITS_BRD_LIB/Inc
