CompileFlags:
  CompilationDatabase: c:\Users\marco\ITS-BRD-VSC\Programs\One-Wire-Bus\out\One-Wire-Bus\ITSboard\Debug
  Add:
    - -include
    - c:\Users\marco\ITS-BRD-VSC\Programs\One-Wire-Bus\out\One-Wire-Bus\ITSboard\Debug\compile_macros.h
